.cardHolder {
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0.7px solid #3e549c;
  padding: 1rem;
  margin: 0.25rem;
  margin-bottom: 0.5rem;
  box-shadow: 1px 1px 2px #000;
  width: calc(50% - 0.5rem);
  min-height: 30vh;
}
.big {
  min-height: calc(50vh - 7rem);
  width: 100%;
}
.datePanel {
  box-sizing: border-box;
  display: flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
  padding:1rem 0.25rem;
  font-weight: bold;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  border: solid 1px #3e549c;
  padding: 1rem;
  color: #3e549c;
  box-shadow: 1px 1px 7px #000;
}

.main{
  padding: 1rem;
}

.main.fix640{
  max-width: 640px;
  margin-right:auto;
  margin-left:auto;
}

.hom{
  background: Black;
  color:#fff;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}

.h2{
  margin: 0px;
  padding: 1.5rem 1rem;
  background-color: #61dafb;
  color: #fff;
  margin-bottom: 1rem;
}
